.table-employees {
    width: 500px;
    opacity: 0;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    transform: translateY(-20px);
}

.title {
    text-align: center;
}

.container-table {
    width: 100%;
    padding:10px 10px;
}

@keyframes slide {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
}

@media (max-width: 720px) {
    table {
        display: block;
        position: relative;
        width: 100%;
    }
    thead,th,td,tr {
        display: block;
    }

    td,th {
        height: 35px;
    }

    thead {
        display: none;
    }

    tbody {
        display: block;
        position: relative;
        width: auto;
        position: relative;
    }

    tbody,tr {
        display: inline-block;
    }

    .container-table {
        width: 300px;
        padding:0 0;
    }
}