.form-filter {
    display: flex;
    width: 100%;
    opacity: 0;
    animation-name: slide;
    animation-duration: 1s;
    animation-fill-mode:forwards;
    transform: translateY(-20px);
    justify-content: center;
}

.label {
    display: flex;
    justify-content: center;
}

.cotainer-form-filter {
    width: 100%;
    display: flex;
    background-color: rgba(18, 84, 122, 0.459);
    border-radius: 5px;
    
}

.button-restart {
    height: 45%;
    margin:auto 0;
    font-weight: bold;
}

@keyframes slide {
    from {
     opacity: 0;
    }
    to {
     opacity: 1;
     transform: translateY(0);
    }
}

@media (max-width: 720px) {
    .cotainer-form-filter {
      flex-direction:  column;
      
    }
    .form-filter {
        flex-direction:  column;
    }
   
  }
