.button-edit {
    text-shadow:0.1em 0.1em black;
    
}

.button-delete {
    text-shadow:0.1em 0.1em black;
    
}

.button-edit:hover {
    text-shadow:0.1em 0.1em rgb(167, 101, 4);
}


@media (max-width: 720px) {
    td,tr {
        display: block;
        width: 100%;
    }
    tr {
        display: inline-block;
    }
    td {
        width: 100%;
    }
}